<script lang="ts">
	export let name: string;
	export let color: string = null;
	export let outlined: boolean = false;
	export let box: boolean = false;
	export let boxColor: string = null;
</script>

<i
	class="material-icons it-icon"
	class:material-icons-outlined={outlined}
	class:it-icon--box={box}
	style="
      color: {color};
      background-color: {box && boxColor ? boxColor : ''}
    "
>
	<slot>{name ? name : ''}</slot>
</i>

<style src="./icon.less"></style>
