<script lang="ts">
	export let vertical: boolean = true;
</script>

<div
	class="it-divider"
	class:it-divider--horizontal={!vertical}
	class:it-divider--vertical={vertical}
	role="separator"
/>

<style src="./divider.less"></style>
