<script>
	import { EqButton, EqLoading, EqDivider, EqIcon } from 'equal-svelte';
</script>

<div>
	<h3>Icon</h3>
	<EqIcon box boxColor="#3051ff" color="#fff" name="info" />
	<EqIcon box boxColor="#07d85b" color="#fff" name="room" />
	<EqIcon box boxColor="#ff45c0" color="#fff" name="favorite" />
</div>

<div>
	<h3>Loading</h3>
	<EqLoading color="red" stroke={2} />
	<EqLoading radius={10} stroke={2} />
</div>

<div>
	<h3>Divider</h3>
	<EqDivider />
	<EqDivider vertical={false} />
</div>

<EqButton />
