<script lang="ts">
	export let stroke: number = 6;
	export let radius: number = 32;
	export let color: string = '#3051ff';

	let normalizedRadius = radius - stroke / 2;
</script>

<svg
	class="it-loading"
	style="
      max-width: {radius * 2}px;
      max-height: {radius * 2}px;
    "
>
	<circle
		class="it-loading-circle"
		stroke={color}
		stroke-width={stroke}
		stroke-linecap="round"
		fill="none"
		r={normalizedRadius}
		cx={radius}
		cy={radius}
		pathLength="100"
	/>
</svg>

<style src="./loading.less"></style>
